/*
!/.gitignore
!/.nojekyll
!/index.html
!/1-intro/
!/1-homework/
!/2-chemistry/
!/README.md
!/EDITING.md
!/DESIGN.md
!/MEDIA.md
!/package.py
!/serve.ps1

/1-intro/assets/entropy.png
/1-intro/assets/image15.jpg
/1-intro/assets/p03-5.jpeg
/1-intro/assets/p10-7.jpeg
/1-intro/assets/p21-2.jpeg
/1-intro/assets/p21-3.jpeg
/1-intro/assets/p21-4.jpeg
/1-intro/assets/p21-5.jpeg
/1-intro/assets/p24-2.jpeg
/1-intro/assets/p25-2.jpeg
/1-intro/assets/p26-2.jpeg
/1-intro/assets/p27-2.jpeg
/1-intro/assets/p28-3.jpeg
/1-intro/assets/p29-2.jpeg
/1-intro/assets/p29-3.jpeg
/1-intro/assets/p29-4.jpeg
/1-intro/assets/p29-5.jpeg
/1-intro/assets/p30-2.jpeg
/1-intro/assets/p31-2.jpeg
/1-intro/assets/p35-2.jpeg
/1-intro/assets/selection-1.png
/1-intro/assets/selection-2.png
/1-intro/assets/selection-3.png
/1-intro/assets/selection-4.png
